* {
    background-color: #e6dbdb;
}

ul {
    float: right;
    line-height: 32px;
    display: inline-block;
}

ul li {
    float: left;
    font-family: ‘Montserrat’, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    margin-top: 6px;
}

a {
    text-decoration: none;
}

.namehead{
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: inline-block;
    width: 50%;
    padding : 6px;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 4px;
}

a:link {
    color: white;
    background-color: #e6dbdb;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: #e6dbdb;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: #e6dbdb;
    text-decoration: none;
}

.jumbotron {
    background-color: #e6dbdb !important;
}


.text-muted2 {
    margin-top:300px;
    margin-left: 20px;
    text-align: left;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
}

footer {
    background-color: #e6dbdb;
}

body {
    background-color: #e6dbdb;
    width:95%;
}

.blockquote{
    padding-top: 50px;
}

.img{
    width : 100%;
    display: block;
    padding-left: 270px;
    padding-top: 100px;
}

.portfolio{
    float : left;
    width : 30%;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}

.portfolioimages{
    margin-top: 50px;
    padding-left:150px;
}

#namehead{
    color: #e6dbdb;
    background-color: white;
    text-decoration: none;
}

.display-4{
    background-color: none;
    border: 0;
    margin-top:200px;
    padding-left: 450px;
}

.container{
    width:100%;
    text-align: left;
    margin: auto;
    border-radius:1px;
    right:0;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}


input[type=text], textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color:#f7e9ee;
    border-radius: 4px;
    border-color: white;
}

input[type=submit] {
   background-color:  #ffffff; 
}

label{
    font-family: ‘Montserrat’, sans-serif;
    color: white;
    font-size: 15px;
}

#contact-me{
    padding-top: 40px;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    margin: auto;
}